*{
    margin: 0;
    padding: 0;
}

.subhead{
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 0.5rem;
    text-align: center;
}

.desc p{
    margin: 1rem 6rem;
    text-align: center;
    /* width: 80; */
    /* display: flex;
    justify-content: center; */
}

.form input{
    padding: 0.7rem 1rem;
    margin: 0.7rem 1rem;
    display: inline-block;
    box-sizing: border-box;
    width:100%;
    border-radius: 1.5rem;
    /* display: table-cell; */
    /* vertical-align: middle; */
}

.form label{
    margin: 1rem 0.7rem;
}