@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


* {
    margin: 0;
    padding: 0;
}

.subhead2{
    font-family: 'Montserrat', sans-serif;;
    font-size: 2rem;
    font-weight: 700;
}

/* Projects */


.project{
}


.carasoul{
    padding: 4rem;
    margin: 4rem 0;
    position: absolute;
    /* top: 50%; */
    right: 50%;
    max-width: 40rem;
}

.projects-showcase {
    position: relative;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
    margin: 0 8rem;
}

.slides{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.project-slide {
    padding: 2rem;
    max-width: 40rem;
    display: flex;
    width: 28rem;
    height: auto;
    margin: 3rem 5rem;
    box-shadow: 12px 12px 15px 6px rgba(0, 0, 0, 0.2) ;
    
}

.project-slide:hover{
    transition: 0.2s ease-in;
    box-shadow: 18px 18px 25px 12px rgba(0, 0, 0, 0.2) ;

}

.project-slide .img {

}

.project-slide .head{
    font-size: 1rem;
}

.project-slide .subhead{
    font-size: 2rem;
    margin: 0;
}

.project-slide .details{
    
}



.project-slide img:hover {
    border: 2px solid #f5cb86;
    /* width: 24rem; */
    /* transform: scale(101%); */
    /* transition: ease-in-out 0.5s; */
    /* width: ; */
}

.project-slide p {
    opacity: 70%;
}

.project-slide p:hover {
    opacity: 100%;
}


/* contact */

.contact{
    margin-top: 20rem;
}

.contact-section{
    margin:  4rem;
    position: absolute;
    left: 0;
    width: 40vw;
    height: auto;
    text-align: center;

}

.contact-section p{
    opacity: 60%;
    margin-bottom: 1.4rem;
}

.form-div{
    padding: 2rem;
    margin: 2rem;
    position: absolute;
    right: 0;
    /* height: auto; */
    width: 40vw;

    box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5);
}

.form-div button{
    
    width: 22rem;
    height: 2rem;
    border: 2px black;
    /* border-radius: 20px; */
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5); 
    margin: 2rem 0;
}

.form-element{
    /* margin: auto; */
    /* width: 50%; */
    /* height: 50px; */
}

.form{
    /* position: relative; */
}

.form input {
    background-color: transparent;
    width: 22rem;
    padding: 0.7rem 1rem;
    border: hidden;
    /* margin: 0.7rem 1rem; */
    
    /* display: inline-block; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* display: table-cell; */
    /* vertical-align: middle; */
}

.form input::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #f5cb86;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
}

.form label {
    /* margin: 1rem 0.7rem; */
}
/* about */
.about-me{
    background-color: #17181d;

    padding: 4rem 0;
    margin: 4rem 4rem;
    position: absolute;
    left: 0%;
    width: 50vw;
    height: 50vh;
    box-shadow: 18px 18px 25px 12px rgba(0, 0, 0, 0.2) ;
}

.about {
    height: 100vh;
    width: auto;
}

.project {
    height: 100vh;
    width: auto;
}

.experience {
    height: 100vh;
    width: auto;
}

.contact {
    height: 100vh;
    width: auto;
}

.subhead {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0.5rem;
    text-align: center;
}

.desc p {
    margin: 1rem 6rem;
    text-align: center;
    /* width: 80; */
    /* display: flex;
    justify-content: center; */
}
