@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


* {
    margin: 0;
    padding: 0;
}

.subhead2 {
    font-family: 'Montserrat', sans-serif;
    ;
    font-size: 2rem;
    font-weight: 700;
}

/* Projects */


.carasoul {
    padding: 4rem;
    margin: 4rem 0;
    position: absolute;
    /* top: 50%; */
    right: 50%;
    max-width: 40rem;
}

.projects-showcase {
    position: relative;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
    margin: 0 8rem;
}

.slides {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.project-slide {
    padding: 2rem;
    max-width: 40rem;
    display: flex;
    width: 28rem;
    height: auto;
    margin: 3rem 5rem;
    box-shadow: 12px 12px 15px 6px rgba(0, 0, 0, 0.2);

    border: 2px solid #f5cb86;
}

.project-slide:hover {
    transition: 0.2s ease-in;
    box-shadow: 18px 18px 25px 12px rgba(0, 0, 0, 0.2);

}


.project-slide .head {
    font-size: 1rem;
}

.project-slide .subhead {
    font-size: 2rem;
    margin: 0;
}


.project-slide p {
    opacity: 70%;
}

.project-slide p:hover {
    opacity: 100%;
}


/* contact */

.contact {
    margin-top: 20rem;
    overflow: auto;
}

.contact-section {
    margin: 4rem;
    width: 40vw;
    height: auto;
    position: absolute;
    text-align: center;
    left: 0;

}

.contact-section p {
    opacity: 60%;
    margin-bottom: 1.4rem;
}

.form-div {
    padding: 2rem;
    margin: 2rem;
    position: absolute;
    right: 0;
    /* height: auto; */
    width: 40vw;

    box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5);
}

.form-div button {

    width: 22rem;
    height: 2rem;
    border: 2px black;
    /* border-radius: 20px; */
    background-color: transparent;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 2rem 0;
}


.form input {
    background-color: transparent;
    width: 22rem;
    padding: 0.7rem 1rem;
    border: hidden;
    /* margin: 0.7rem 1rem; */

    /* display: inline-block; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* display: table-cell; */
    /* vertical-align: middle; */
}

.form input::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #f5cb86;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
}

/* about */
.about-me {
    background-color: #17181d;

    padding: 4rem 0;
    margin: 4rem 4rem;
    position: absolute;
    left: 0%;
    width: 50vw;
    height: 50vh;
    border: #f5cb86 3px solid;
    overflow: auto;
    box-shadow: 18px 18px 25px 12px rgba(0, 0, 0, 0.2);
}


/* everything */
.about {

    height: 100vh;
    width: auto;
}

.project {
    height: 100vh;
    width: auto;
}

.experience {
    height: 100vh;
    width: auto;
}

.contact {
    height: 100vh;
    width: auto;
}

/* end */


.subhead {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0.5rem;
    text-align: center;
}

.desc p {
    margin: 1rem 6rem;
    text-align: center;
    max-width: 42rem;
    /* width: 80; */
    /* display: flex;
    justify-content: center; */
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (600px <=width) {
    .contact {
        margin-top: 20rem;
    }

    .contact-section {
        margin: 4rem;
        width: 40vw;
        height: auto;
        position: absolute;
        text-align: center;
        left: 0;
    }
}


/* On screens that are 600px or less, set the background color to olive */
@media (width <= 770px) {
    .slides {
        display: block;

    }

    .project-slide {

        padding: 1rem;
        max-width: 20rem;
        width: 20rem;
        height: auto;
        margin: 2rem auto;
        display: block;

    }

    .project-slide .img {
        font-size: 220px;
    }
    
    
/* contact */
.contact {
    margin-top: 120rem;
}

.contact-section {
    position: relative;
    margin: auto;
    margin-bottom: 1rem;
}

.form-div {
    padding: 3rem;
    width: 22rem;
    margin: auto;
    left: 0;
}

.form-div input {
    width: 11rem;
    height: auto;
    text-align: center;
}


/* about */
.about-me {
    
    width: auto;
    padding: 1rem 0;
    margin: 1.5rem;
}

.desc p {
    margin: 2rem;
}
}