@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800;900&display=swap');

* {

    padding: 0;
    margin: 0;
    color: white;
    
    max-width: none;

    ::-webkit-scrollbar {
        display: none;
    }

    /* overflow: hidden; */
}

.home-page {
    /* overflow: auto; */
    width: auto;
    height: 100vh;
    /* position: relative; */
    /* display: block; */
}

/* Top Navbar */
.top-nav {
    padding: 1rem;
    /* position: absolute; */
    position: fixed;
    right: 0;
    top: 0;
}

.top-nav .nav-item {
    position: fixed;
    /* opacity: 80%; */
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
    /* font-size: 0.9rem; */
}

.top-nav .nav-item::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    background: #f5cb86;
    transition: 0.5s;
}

.top-nav .nav-item:hover {
    transition: 0.5s;
    width: 100%;
    opacity: 100;
}

/* Logo */
.logo {
    position: fixed;
    font-size: 4rem;
    margin: 1rem;
    /* position: absolute; */
    top: 0;
    left: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 96, 71, 1) 100%); */
    /* background-color: #181D31; */
    background-color: #041e25;
    background-color: #17181d;
}

/* Main Content */
.main {
    margin-top: 8rem;
    display: flex;
    /* margin-left: 15%; */
    /* position: absolute;
    top: 50;
    left: 50%; */

    /* margin: auto; */
    /* width: 50%; */

    /* height: 200px; */
    /* line-height: 1.5;
    vertical-align: middle;
    text-align: center; */
}

.heading {
    font-size: 14rem;
    /* overflow: scroll; */
    /* text-shadow: 25px 15px 15px black; */
    filter: drop-shadow(-25px 25px 15px black);
}

/* .heading:hover {
    color: #f5cb86;
    animation-name: hov;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
} */

.heading:hover {
    color: #f5cb86;
    transition: all 0.5s;
    transform: translate(0, 0.2em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  .heading:not(hover) {
    transition: all 1s;
  }


.heading {
    margin: -18px;
}

.head-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* .head-container img{
    width: auto;
    height: 12rem;
} */

.main-txt p {
    margin: 0 auto;
    /* text-align: center; */
    max-width: 60%;
    /* opacity: 80%; */
}

/* .main-txt p:hover{
    opacity: 100%;
} */

.container {
    text-align: center;
}

.side-bar {
    width: 25%;
    position: absolute;
    left: 0;
    position: fixed;
    top: 25%;
}






.main {
  text-align: center;
}

.head-container {
  /* display: inline-block; */
}

.heading {
  /* Add your styles for the headings here */
  /* display: inline-block; */
  margin: 0; /* Remove default margin for better centering */
}





.side-bar li {
    font-size: 2rem;
    margin: 2rem 1rem;
    opacity: 20%;
    transition: transform .3s ease;
}

ul li {
    list-style: none;
    /* -webkit-filter: invert(100%); */
}

li {
    filter: drop-shadow(25px 15px 15px black);
}

li:hover {
    opacity: 100%;

    /* width: 2.2rem; */
    /* animation-duration: 4s; */
    transform: scale(1.1);
    position: relative;
    left: 4px;
    /* transition: transform 3s ease; */

}

/* img::before{
    content: " ";
} */

@keyframes hov {
    0% {
        transform: translateY(0.2%);
    }

    25%{
        transform: translateY(-2%);
    }
    50%{
        transform: translateY(-3%);
    }
    75%{
        transform: translateY(-4%);
    }
    100% {
        transform: translateY(-5%);
    }
}


/* Navigation */
.nav-items {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0.5rem 1rem;
    position: fixed;
}

.nav-items .nav-item {
    margin: 1rem 0rem;
    display: block;

}


/* @media (600px <= width <= 1025px) {
    body {

        .heading {
            font-size: 12rem;
            margin: -13px;
        }

        .main-txt p {
            font-size: 0.7rem;
        }

        .main-txt h2 {
            font-size: 1.5rem;
        }

    }
} */

@media  (max-width: 770px) {
    body {
        .heading {
            font-size: 66px;
            margin: -10px;
        }

       
        .main h2{
            /* font-size: medium; */
        }

        .sc-head{
            width: 15vw;
        }
        
        .main-txt p {
            font-size: 0.4rem;
        }
        
        .main-txt h2 {
            font-size: 0.7rem;
        }
        
        .side-bar li {
            font-size: 1.4rem;
        }
        .top-nav {
            visibility: hidden;
        }
        
        .logo {
            font-size: 3rem;
            z-index: 1;
        }
        
        .home-page {
            margin-bottom: -14rem;
        }
        
        .nav-items {
            z-index: 1;
        }
        .form-div{
            margin-top: 84px;
            /* margin-bottom: 54px; */
        }



    }
}



/* @media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones } */
/* @media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. } */
/* @media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones } */
/* @media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops } */
/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops } */