@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    ::-webkit-scrollbar{display: none;}
}

.home-page{
    /* overflow: auto; */
    width: auto;
    height: 100vh;
    /* position: relative; */
    /* display: block; */
}

/* Top Navbar */
.top-nav{
    padding: 1rem;
    /* position: absolute; */
    position: fixed;
    right: 0;
    top: 0;
}

.top-nav .nav-item{
    position: fixed;
    /* opacity: 80%; */
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
    /* font-size: 0.9rem; */
}

.top-nav .nav-item::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    background: #f5cb86;
    transition: 0.5s;
}

.top-nav .nav-item:hover{
    transition: 0.5s;
    width: 100%;
    opacity: 100;
}

/* Logo */
.logo{
    position: fixed;
    font-size: 4rem;
    margin: 1rem;
    /* position: absolute; */
    top: 0;
    left: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 96, 71, 1) 100%); */
    /* background-color: #181D31; */
    background-color: #041e25;
    background-color: #17181d;
}

/* Main Content */
.main{
    margin-top: 8rem;
    display: flex;
    /* margin-left: 15%; */
    /* position: absolute;
    top: 50;
    left: 50%; */
    
    /* margin: auto; */
    /* width: 50%; */
    
    /* height: 200px; */
    /* line-height: 1.5;
    vertical-align: middle;
    text-align: center; */
}

.heading{
    font-size: 14rem;
    /* overflow: scroll; */
    /* text-shadow: 25px 15px 15px black; */
    filter: drop-shadow( -25px 25px 15px black);
}

.heading:hover{
    color: #f5cb86;
    animation-name: hov;
    animation-duration: .3s;
    /* animation-timing-function: ease-out; */
}

.heading{
    margin: -18px;
}

.head-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* .head-container img{
    width: auto;
    height: 12rem;
} */

.main-txt p{
    margin: 0 auto;
    /* text-align: center; */
    width: 60%;
    /* opacity: 80%; */
}

/* .main-txt p:hover{
    opacity: 100%;
} */

.container{
    text-align: center;
}

.side-bar{
    width:25%;
    position: absolute;
    left: 0;
    position: fixed;
    top: 25%;
    
}


.side-bar li{
    font-size: 2rem;
    margin: 2rem 1rem;
    opacity: 20%;
    transition: transform .3s ease;
}

ul li{
    list-style: none;
    /* -webkit-filter: invert(100%); */
}

li{
    filter: drop-shadow(25px 15px 15px black);
}

li:hover{
    opacity: 100%;
    
    /* width: 2.2rem; */
    /* animation-duration: 4s; */
    transform: scale(1.1);
    position: relative;
    left: 4px;
    /* transition: transform 3s ease; */
    
}

/* img::before{
    content: " ";
} */

@keyframes hov {
    0%{
        transform: translateY(0%);
    }
    /* 25%{
        transform: translateY(-2%);
    }
    50%{
        transform: translateY(-2%);
    }
    75%{
        transform: translateY(-3%);
    } */
    100%{
        transform: translateY(-4%);
    }
}


/* Navigation */
.nav-items{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0.5rem 1rem;
    position: fixed ;
}

.nav-items .nav-item{
    margin: 1rem 0rem;
    display: block;
    
}

/* Set the background color of body to tan */
body {
    /*  */
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
        
        .heading{
            font-size: 12rem;
            margin: -13px;
        }
        .main-txt p{
            font-size: 0.7rem;
        }
        .main-txt h2{
            font-size: 1.5rem;
        }
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 740px) {
    body {
        /* width: 50%; */
        .heading{
            font-size: 6rem;
            margin: -10px;
        }
        .main-txt p{
            font-size: 0.4rem;
        }
        .main-txt h2{
            font-size: 0.8rem;
        }
        .side-bar li{
            font-size: 1.4rem;
        }
    }
  }