<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="./static/css/style.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <div class="main">
        
        
        <div class="side-bar">
            <ul>
                <li><img class="icons" src="./static/icons/home.png" alt="" /></li>
                <li><img class="icons" src="./static/icons/message.png" alt="" /></li>
                <li><img class="icons" src="./static/icons/phone-call.png" alt="" /></li>
                <li><img class="icons" src="./static/icons/idea.png" alt="" /></li>
                <li><img class="icons" src="./static/icons/worker.png" alt="" /></li>
            </ul>
        </div>


        <div class="head-container">
          <!-- <img src="./static/img_vector.png" alt=""> -->

        <h2 class="heading container">S</h2>
        <h2 class="heading container">a </h2>
        <h2 class="heading container">m</h2>
        <h2 class="heading container">H</h2>
        <h2 class="heading container">e</h2>
        <h2 class="heading container">r</h2>
        <h2 class="heading container">e</h2>
        <h2 class="heading container">!</h2>
      </div>


    </div>
      <div class="main-txt container">
        <h2>I am devloper</h2>
        <p class="container">I used to create things with my gadgets and some logic. Let's see the example... Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum amet necessitatibus eos non aut, illo autem dolor illum consectetur, quisquam tenetur consequuntur fugit animi excepturi? Incidunt dolore recusandae architecto ea quasi, corporis ad.</p>
      </div>
  </body>
</html>
